$brand-primary: #247BA0;
$text-primary: #777;
$brand-accent: #70C1B3;
$brand-accent-dark: #599e92;;
$brand-secondary: #B2DBBF;
$day-size: 41px;
$primary-color: #0097a7;
$secondary-date-color: #ff5722;
